{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mapping Twitter Trends</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Input page</h1>
        </div>
        <div class="info">
            <p>This program allows you to see the change in tweet volume over time for US states. Please see the readme for more information on its structure and inherent limitations. Note that our program will round down the duration given to fit an integer multiple of the interval length.
            <br><br><b>Parameter limits:</b></p>
            <table class="parameters">
                <tr>
                    <th>Input Type</th>
                    <th>Past</th>
                    <th>Live</th>
                </tr>
                <tr>
                    <td>Min Interval</td>
                    <td>1 minute</td>
                    <td>1 minute</td>
                </tr>
                <tr>
                    <td>Max Interval</td>
                    <td>1 day</td>
                    <td>1 hour</td>
                </tr>
                <tr>
                    <td>Min Duration</td>
                    <td>2 minutes</td>
                    <td>2 minutes</td>
                </tr>
                <tr>
                    <td>Max Duration</td>
                    <td>7 days</td>
                    <td>6 hours</td>
                </tr>
            </table>
        </div>

        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}

        {% if map %}
        <div class="slideshow">
            {% for file in map %}
            <div class="slide">
                <img src="{% static file %}">
            </div>
            {% endfor %}
        </div>

        <div class="legend">
            <img src="{% static "/legend.png" %}" width="500">
        </div>

        <!-- The dots/circles -->
        <div style="text-align:center">
            {% for file in map %}
            <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
            {% endfor %}
        </div>


        <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slide");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }
        </script>
        {% endif %}


        <br>

        {% if array %}
        <div class="data">
            {{ array|safe }}
        </div>
        {% endif %}

    </body>
</html>
