html, body {
    margin: 5;
    padding: 0;
    font-family: Verdana;
}

div#header {
    background: rgb(120, 20, 0);
    margin: 0;
    padding: 0;
}

div#header h1 {
    font-size: 18px;
    color: #f5f5f5;
    margin: 0;
    padding: 7px;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */

/* Slideshow container */
div.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
div.slide {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

div.error {
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

fieldset {
    padding: 3px;
    margin: 1px;
    border: 1px solid #ddd;
}

fieldset legend {
    font-weight: bold;
    font-size: 12px;
}

input.query {
    font-size: 18px;
}

label {
    font-size: 12px;
}

p.num_results {
    margin-left: 5px;
    font-size: 12px;
}

table.form {
    text-align: left;
}

table.form tr td,
table.form tr th {
    vertical-align: middle;
}

table.form input {
    margin-right: 5px;
}

table.form input#id_query {
    font-size: 16px;
}

table.dataframe {
    border: 3px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

table.dataframe tr th{
    background: #ccc;
}

table {
    border: 1px solid #bbb;
    padding: 0px;
    margin: 0px;
}

table tr th {
    text-align: left;
}

table tr td,
table tr th {
    padding: 3px;
}

table.parameters tr:nth-child(even),
table.form tr:nth-child(even) {
    background: #eee;
}

ul.errorlist {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;

}

ul.errorlist li {
    font-size: 12px;
    color: red;
    margin: 0px;
    padding: 0px;
}

span.helptext {
    font-size: 11px;
    color: gray;
}